* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}



.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.box {
  background: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px rgba(128, 0, 248, 0.2);
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 24px;
  color: rgb(128, 0, 248);
  margin-bottom: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-size: 16px;
  font-weight: bold;
  color: rgb(128, 0, 248);
}

form input, form select {
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  outline-color: rgb(128, 0, 248);
  background-color: #f9f9f9;
}

form button {
  background-color: rgb(128, 0, 248);
  color: white;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

form button:hover {
  transform: scale(1.05);
}

.timetable-box {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 10px rgba(128, 0, 248, 0.2);
  width: 100%;
  max-width: 600px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: rgb(128, 0, 248);
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.delete-btn {
  background-color: rgb(128, 0, 248);
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(128, 0, 248, 0.2);
}

.delete-btn:hover {
  background-color: rgb(105, 0, 210);
  transform: scale(1.05);
}

